---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-spacing-unit:       16px;


$base-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-weight: 400;
$base-line-height: 1.5;

$font-size--sm:    14px;
$base-font-size:   $base-spacing-unit;
$font-size--lg:    24px;

$spacing-unit--xs:   $base-spacing-unit / 4;
$spacing-unit--sm:   $base-spacing-unit / 2;
$spacing-unit--md:   $base-spacing-unit;
$spacing-unit--lg:   $base-spacing-unit * 2;
$spacing-unit--xl:   $base-spacing-unit * 4;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

// sm bootstrap
$sm-palm:          544px;
// md bootstrap
$md-laptop:        768px;
// lg bootstrap
$lg-desktop:       992px;

// Core CSS
@import "_am2-reboot";
@import "_am2-type";
@import "_am2-layout";


// Components
@import "_components.am2-nav";
@import "_components.am2-index";
@import "_components.am2-project";
@import "_components.am2-gallery";
@import "_components.am2-agence";
@import "_components.am2-contact";
@import "_components.am2-footer";

// Components w/ JavaScript


// Utility classes
