.am2-project-title {
	font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: $spacing-unit--lg;
}

.am2-project-text {
	margin-top: $spacing-unit--lg;
    text-align: justify;
    text-justify: inter-word;
}
