@media (min-width: $lg-desktop) {
	.am2-project-header {
		display: flex;
	}

	.am2-project-list {
		position: absolute;
		bottom: 0;
	}
}

.am2-project-title {
	font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: $spacing-unit--lg 0;
}

.am2-project-list ul {
	list-style-type: none;
	padding-left: 0;
}

.am2-project-list ul li {
	margin: 4px 0;
}

.am2-project-hr {
	border-top: 2px solid rgba(0,0,0,.15);
	max-width: 250px;
}

.am2-project-text {
	margin-top: $spacing-unit--md;
	padding: $spacing-unit--md 0;
    text-align: justify;
    text-justify: inter-word;
}

