.am2-agence-title {
	font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: $spacing-unit--lg 0;
}

.am2-agence-text {
	font-style: italic;
    text-align: justify;
    text-justify: inter-word;
}
