.am2-contact {
	list-style-type: none;
	margin-top: $spacing-unit--lg;
}

.am2-contact-title {
	font-size: 18px;
}

.am2-contact-point {
	font-size: 16px;
	margin-bottom: $spacing-unit--xs;
	font-style: italic;
}
