---
layout: default
---

<div class="container section">
	<div class="row">

		<div class="col-sm-8">
			{% for image in page.images %}
				<img src="{{site.baseurl}}/img/projets/{{ page.slug }}/{{ image[0] }}" class="img-fluid">
				{% break %}
	        {% endfor %}
		</div>

		<div class="col-sm-4">
		<h1 class="am2-project-title">{{ page.title }}</h1>
			<hr>
				<ul>
					{% for feature in page.features %}
						<li>
							<b>{{ feature[0] }}</b>
							{% if feature[1] %}
								: {{ feature[1] }}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			<hr>
		</div>

		<div class="col-sm-12">
			<div  class="am2-project-text">
				{{ page }}
			</div>
		</div>
	</div>
</div>

<div class="am2-gallery text-sm-center">
	{% for image in page.images %}
 {% if forloop.first %} {% continue %} {% endif %}

		<div class="am2-gallery-stamp">
			<img src="{{site.baseurl}}/img/projets/{{ page.slug }}/thumbs/{{ image[0] }}" class="img-fluid">
		</div>
	{% endfor %}
</div>
